<footer>
    <div class="footer">
      <img src="logo.png" class="logo logofooter" />
      <div class="nosotros">
        <p>Ubicacion: Bucaramanga - Santander</p>
        <p>Telefono: +57 31778594388</p>
        <p>Direccion: <i class="fa-solid fa-location-dot direccion"></i></p>
        <p>Mas info: <a href="#">Click Aquí</a></p>
      </div>
      <p class="copyr">Copyright © 2023 GrafiMedia - All Rights Reserved.</p>
      <div class="redes-sociales">
        <img src="facebook.png" class="facebook" /><img
          src="instagram.png"
          class="instagram"
        />
      </div>
    </div>
  </footer>
</body>
</html>
