<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="http://localhost:4000/">Inicio</a>
        </li>
        <li>
          <a href="/Menu">Menu</a>
        </li>
        <li>
          <a href="http://localhost:4000/contacto">Contacto</a>
        </li>
        <li>
          <a href="/Registrate">Registrate</a>
        </li>
        <li>
          <a href="/Iniciar-sesion">Iniciar sesion</a>
        </li>
      </ul>
    </header>
