<%- include('partials/header'); %>
<div>
    <h1>Contactanos</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum sequi modi incidunt illo, itaque quasi nam repellat repellendus praesentium expedita similique nisi, cum ipsa sed quibusdam commodi aliquam. Vel, iure.
    Provident adipisci explicabo culpa voluptates deleniti, nam nostrum eveniet tempora mollitia, eos asperiores omnis laboriosam veritatis fuga sit consectetur ex officia sunt necessitatibus nisi beatae quam sint? Harum, nisi libero!</p>
</div>
<div>
    <form action="https://formsubmit.co/3aac75d5686ac48c99a799aa8aa1ee9e" method="POST">
        
        <input type="text" name="name" id="name">
        <input type="email" name="email" id="email">
        <textarea name="msg" id="msg" cols="30" rows="10"></textarea>
        <input type="hidden" name="_next" value="http://localhost:4000">
        <input type="hidden" name="_captcha" value="false">
        <input type="submit">

    </form>
</div>
<script src="contacto.js"></script>
<%- include('partials/footer'); %>