<%- include('partials/header'); %>
<div id="1">
  <h1>Titulo</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ad cumque
    delectus illo odio, dicta porro commodi quam consequatur, nesciunt ab
    officiis optio doloribus perferendis vel maiores, consequuntur totam
    incidunt? Natus ullam omnis ea ipsa nobis aperiam! Quidem, est!
    Reiciendis magni debitis accusantium voluptatum, atque iure est placeat
    odit harum cupiditate nisi fuga optio quos maxime ratione ullam
    molestiae quisquam. Quaerat ad, illo dolores soluta praesentium
    reiciendis atque quidem numquam deserunt doloribus, nam enim, eveniet
    repellat assumenda possimus libero consequuntur incidunt eum odio eius
    laboriosam quo? Excepturi at ducimus praesentium!
  </p>
  <img src="" alt="" />
</div>
<div id="2">
  <h1>Sobre Nostros</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores
    adipisci porro aut optio odio? Hic soluta cumque atque maiores quos
    blanditiis ab mollitia dignissimos officiis sed sunt, obcaecati, quasi
    veniam! Repudiandae expedita quisquam modi veniam! Neque quos itaque
    eveniet possimus beatae consequuntur, id at optio numquam nobis magni
    nulla mollitia porro laboriosam. Ullam distinctio odit fugit officiis
    consequatur, hic necessitatibus? Quae dignissimos perspiciatis at
    officiis atque molestias veniam quasi labore hic quos quibusdam, vel
    voluptate aperiam architecto tempore velit delectus nostrum iste quo,
    necessitatibus ex similique nemo. Expedita, dolore perferendis. Delectus
    ex, incidunt voluptatum, illum fugiat eum neque ducimus ut ab eveniet
    aut obcaecati sunt commodi pariatur rerum provident dignissimos optio
    quas aliquam voluptatibus, a iure excepturi quidem blanditiis?
    Voluptate!
  </p>
  <button>
    <a href="">click aqui para saber mas</a>
  </button>
</div>
<div id="3">
  <h1>Nuestros platos</h1>
  <div>
    <div class="platos" id="plato-1">
      <img src="" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        ex a omnis id ut? Obcaecati quos dolore reiciendis reprehenderit
        ipsam exercitationem ad itaque eaque voluptate ducimus. Error
        consequatur itaque at. Modi, ratione error. Quisquam molestiae animi
        ut ullam laboriosam dolorum vero natus, harum vel magni eum,
        laborum, id amet quas qui culpa ad facilis non odit eos laudantium
        deserunt consequatur.
      </p>
      <button>
        <a href="">Ir al menu</a>
      </button>
    </div>
    <div class="platos" id="plato-2">
      <img src="" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        ex a omnis id ut? Obcaecati quos dolore reiciendis reprehenderit
        ipsam exercitationem ad itaque eaque voluptate ducimus. Error
        consequatur itaque at. Modi, ratione error. Quisquam molestiae animi
        ut ullam laboriosam dolorum vero natus, harum vel magni eum,
        laborum, id amet quas qui culpa ad facilis non odit eos laudantium
        deserunt consequatur.
      </p>
      <button>
        <a href="">Ir al menu</a>
      </button>
    </div>
    <div class="platos" id="plato-3">
      <img src="" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        ex a omnis id ut? Obcaecati quos dolore reiciendis reprehenderit
        ipsam exercitationem ad itaque eaque voluptate ducimus. Error
        consequatur itaque at. Modi, ratione error. Quisquam molestiae animi
        ut ullam laboriosam dolorum vero natus, harum vel magni eum,
        laborum, id amet quas qui culpa ad facilis non odit eos laudantium
        deserunt consequatur.
      </p>
      <button>
        <a href="">Ir al menu</a>
      </button>
    </div>
  </div>
</div>
<script src="inicio.js"></script>
<%- include('partials/footer'); %>
