<<<<<<< HEAD
<%- include('partials/header'); %>
<div class="white"></div>
<div class="tittle-1-container">
  <div id="1">
    <h1 class="tittle-1">Coffe Shop</h1>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSD5g6-pMAFFJqCU-S5zvbxc3idDH3gMUxafA&usqp=CAU"
      class="coffe-shope"
    />
    <p class="padding textouno">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ad cumque
      delectus illo odio, dicta porro commodi quam consequatur, nesciunt ab
      officiis optio doloribus perferendis vel maiores, consequuntur totam
      incidunt? Natus ullam omnis ea ipsa nobis aperiam! Quidem, est! Reiciendis
      magni debitis accusantium voluptatum, atque iure est placeat odit harum
      cupiditate nisi fuga optio quos maxime ratione ullam molestiae quisquam.
      Quaerat ad, illo dolores soluta praesentium reiciendis atque quidem
      numquam deserunt doloribus, nam enim, eveniet repellat assumenda possimus
      libero consequuntur incidunt eum odio eius laboriosam quo? Excepturi at
      ducimus praesentium!
    </p>
  </div>
  <br />
  <br />
  <div id="2">
    <h1 class="tittle-2">Sobre Nostros</h1>
    <div class="div-tittle-2">
      <img
        src="https://pqs.pe/wp-content/uploads/2016/08/pqs-como-abrir-cafeteria-800x533.jpg"
        class="sobrenosotros-foto"
      />
      <div class="grid-texto-dos">
        <p class="textodos">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores
          adipisci porro aut optio odio? Hic soluta cumque atque maiores quos
          blanditiis ab mollitia dignissimos officiis sed sunt, obcaecati, quasi
          veniam! Repudiandae expedita quisquam modi veniam! Neque quos itaque
          eveniet possimus beatae consequuntur, id at optio numquam nobis magni
          nulla mollitia porro laboriosam. Ullam distinctio odit fugit officiis
          consequatur, hic necessitatibus? Quae dignissimos perspiciatis at
          officiis atque molestias veniam quasi labore hic quos quibusdam, vel
          voluptate aperiam architecto tempore velit delectus nostrum iste quo,
        </p>
        <button class="btn-quieres-saber-mas">
          <a class="a" href="">click aqui para saber mas</a>
        </button>
      </div>
    </div>
  </div>
</div>
<div id="3">
  <h1 class="tittle-3">Galeria de fotos</h1>
  <div>
    <div class="galeria-de-fotos-container">
      <div class="platos coffe-img-1" id="plato-1">
        <img src="https://www.cronista.com/files/image/372/372614/615482d947253.jpg" class="img-coffe-1"/>
        <p class="parrafo-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ex
          a omnis id ut?
        </p>
        <button class="btn-menu">
          <a class="a" href="">Ir al menu</a>
        </button>
      </div>
      <div class="platos coffe-img-2" id="plato-2">
        <img src="https://www.cronista.com/files/image/372/372614/615482d947253.jpg" class="img-coffe-1"/>
        <p class="parrafo-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ex
          a omnis id ut?
        </p>
        <button class="btn-menu">
          <a class="a" href="">Ir al menu</a>
        </button>
      </div>
      <div class="platos coffe-img-3" id="plato-3">
        <img src="https://www.cronista.com/files/image/372/372614/615482d947253.jpg" class="img-coffe-1"/>
        <p class="parrafo-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ex
          a omnis id ut?
        </p>
        <button class="btn-menu">
          <a class="a" href="">Ir al menu</a>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="comentarios">
  <h1 class="tittle-4">Comentarios</h1>
  <p class="parrafo-tittle-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ex a
    omnis id ut? Obcaecati quos dolore reiciendis reprehenderit ipsam
    exercitationem ad itaque eaque voluptate ducimus. Error consequatur itaque
    at. Modi, ratione error. Quisquam molestiae animi ut ullam laboriosam
    dolorum vero natus, harum vel magni eum, laborum, id amet quas qui culpa ad
    facilis non odit eos laudantium deserunt consequatur.
  </p>
  <p class="parrafo-tittle-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ex a
    omnis id ut? Obcaecati quos dolore reiciendis reprehenderit ipsam
    exercitationem ad itaque eaque voluptate ducimus. Error consequatur itaque
    at. Modi, ratione error. Quisquam molestiae animi ut ullam laboriosam
    dolorum vero natus, harum vel magni eum, laborum, id amet quas qui culpa ad
    facilis non odit eos laudantium deserunt consequatur.
  </p>
  <p class="parrafo-tittle-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ex a
    omnis id ut? Obcaecati quos dolore reiciendis reprehenderit ipsam
    exercitationem ad itaque eaque voluptate ducimus. Error consequatur itaque
    at. Modi, ratione error. Quisquam molestiae animi ut ullam laboriosam
    dolorum vero natus, harum vel magni eum, laborum, id amet quas qui culpa ad
    facilis non odit eos laudantium deserunt consequatur.
  </p>
</div>
<script src="inicio.js"></script>
<%- include('partials/footer'); %>
=======
<%- include('partials/header'); %>
<div class="white"></div>
<div class="tittle-1-container">
  <div id="1">
    <h1 class="tittle-1">Coffe Shop</h1>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSD5g6-pMAFFJqCU-S5zvbxc3idDH3gMUxafA&usqp=CAU"
      class="coffe-shope"
    />
    <p class="padding textouno">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit ad cumque
      delectus illo odio, dicta porro commodi quam consequatur, nesciunt ab
      officiis optio doloribus perferendis vel maiores, consequuntur totam
      incidunt? Natus ullam omnis ea ipsa nobis aperiam! Quidem, est! Reiciendis
      magni debitis accusantium voluptatum, atque iure est placeat odit harum
      cupiditate nisi fuga optio quos maxime ratione ullam molestiae quisquam.
      Quaerat ad, illo dolores soluta praesentium reiciendis atque quidem
      numquam deserunt doloribus, nam enim, eveniet repellat assumenda possimus
      libero consequuntur incidunt eum odio eius laboriosam quo? Excepturi at
      ducimus praesentium!
    </p>
  </div>
  <br />
  <br />
  <div id="2">
    <h1 class="tittle-2">Sobre Nostros</h1>
    <div class="div-tittle-2">
      <img
        src="https://pqs.pe/wp-content/uploads/2016/08/pqs-como-abrir-cafeteria-800x533.jpg"
        class="sobrenosotros-foto"
      />
      <div class="grid-texto-dos">
        <p class="textodos">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores
          adipisci porro aut optio odio? Hic soluta cumque atque maiores quos
          blanditiis ab mollitia dignissimos officiis sed sunt, obcaecati, quasi
          veniam! Repudiandae expedita quisquam modi veniam! Neque quos itaque
          eveniet possimus beatae consequuntur, id at optio numquam nobis magni
          nulla mollitia porro laboriosam. Ullam distinctio odit fugit officiis
          consequatur, hic necessitatibus? Quae dignissimos perspiciatis at
          officiis atque molestias veniam quasi labore hic quos quibusdam, vel
          voluptate aperiam architecto tempore velit delectus nostrum iste quo,
        </p>
        <button class="btn-quieres-saber-mas">
          <a class="a" href="">click aqui para saber mas</a>
        </button>
      </div>
    </div>
  </div>
</div>
<div id="3">
  <h1 class="tittle-3">Galeria de fotos</h1>
  <div>
    <div class="galeria-de-fotos-container">
      <div class="platos coffe-img-1" id="plato-1">
        <img src="https://www.cronista.com/files/image/372/372614/615482d947253.jpg" class="img-coffe-1"/>
        <p class="parrafo-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ex
          a omnis id ut?
        </p>
        <button class="btn-menu">
          <a class="a" href="">Ir al menu</a>
        </button>
      </div>
      <div class="platos coffe-img-2" id="plato-2">
        <img src="https://www.cronista.com/files/image/372/372614/615482d947253.jpg" class="img-coffe-1"/>
        <p class="parrafo-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ex
          a omnis id ut?
        </p>
        <button class="btn-menu">
          <a class="a" href="">Ir al menu</a>
        </button>
      </div>
      <div class="platos coffe-img-3" id="plato-3">
        <img src="https://www.cronista.com/files/image/372/372614/615482d947253.jpg" class="img-coffe-1"/>
        <p class="parrafo-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ex
          a omnis id ut?
        </p>
        <button class="btn-menu">
          <a class="a" href="">Ir al menu</a>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="comentarios">
  <h1 class="tittle-4">Comentarios</h1>
  <p class="parrafo-tittle-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ex a
    omnis id ut? Obcaecati quos dolore reiciendis reprehenderit ipsam
    exercitationem ad itaque eaque voluptate ducimus. Error consequatur itaque
    at. Modi, ratione error. Quisquam molestiae animi ut ullam laboriosam
    dolorum vero natus, harum vel magni eum, laborum, id amet quas qui culpa ad
    facilis non odit eos laudantium deserunt consequatur.
  </p>
  <p class="parrafo-tittle-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ex a
    omnis id ut? Obcaecati quos dolore reiciendis reprehenderit ipsam
    exercitationem ad itaque eaque voluptate ducimus. Error consequatur itaque
    at. Modi, ratione error. Quisquam molestiae animi ut ullam laboriosam
    dolorum vero natus, harum vel magni eum, laborum, id amet quas qui culpa ad
    facilis non odit eos laudantium deserunt consequatur.
  </p>
  <p class="parrafo-tittle-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ex a
    omnis id ut? Obcaecati quos dolore reiciendis reprehenderit ipsam
    exercitationem ad itaque eaque voluptate ducimus. Error consequatur itaque
    at. Modi, ratione error. Quisquam molestiae animi ut ullam laboriosam
    dolorum vero natus, harum vel magni eum, laborum, id amet quas qui culpa ad
    facilis non odit eos laudantium deserunt consequatur.
  </p>
</div>
<script src="inicio.js"></script>
<%- include('partials/footer'); %>
>>>>>>> 485bea0e3552e626b19ee6847203c7577875b243
