.logo {
    border-radius: 50%;
    margin-left: 5px;
}

.footer {
    display: flex;
    background-color: #000;
    color: #fff;
    width: 100%;
    margin-bottom: -8px;
}

.copyr {
    align-self: center;
    margin-left: 10%;
}

.nosotros {
    font-size: 11px;
    margin-top: 20px;
}

.redes-sociales {
    margin-left: auto;
    padding-right: 70px;
    display: flex;
}

.facebook {
    height: 22px;
    width: 22px;
    margin: auto;
    margin-right: 20px;
}

.instagram {
    height: 25px;
    width: 25px;
    margin: auto;
}

.facebook:hover {
    background-color: white;
}

.direccion {
    padding-left: 6px;
}