<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REGISTER</title>
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="http://localhost:4000/">Inicio</a>
        </li>
        <li>
          <a href="/Menu">Menu</a>
        </li>
        <li>
          <a href="http://localhost:4000/contacto">Contacto</a>
        </li>
        <li>
          <a href="http://localhost:4000/register">Register</a>
        </li>
        <li>
          <a href="http://localhost:4000/login">Login</a>
        </li>
      </ul>
    </header>

    <h1>REGISTER</h1>

    <form action="" method="POST">

      <input type="text" name="name" placeholder="Name" required>
      <input type="email" name="email" placeholder="Email" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Send</button>

    </form>

  </body>
</html>
